<%= form_for(@produto) do |f| %>
  <% if @produto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@produto.errors.count, "error") %> prohibited this produto from being saved:</h2>

      <ul>
      <% @produto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :SKU %><br>
    <%= f.text_field :SKU %>
  </div>
  <div class="field">
    <%= f.label 'Nome' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label 'Descrição' %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label 'Quantidade' %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label 'Preço' %><br>
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
