<p id="notice"><%= notice %></p>

<p>
  <strong>Sku:</strong>
  <%= @produto.SKU %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @produto.name %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @produto.description %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @produto.quantity %>
</p>

<p>
  <strong>Preço:</strong>
  <%= @produto.price %>
</p>

<%= link_to 'Editar', edit_produto_path(@produto) %> |
<%= link_to 'Voltar', produtos_path %>
